.mermaid {
  padding-bottom: 5rem;
}

.actor {
  stroke: #CCCCFF;
  fill: #ECECFF;
}

text.actor {
  fill: black;
  stroke: none;
  font-family: Consolas, Monaco, monospace !important;
  font-size: 15px;
}

.actor-line {
  stroke: grey;
}

.messageLine0 {
  stroke-width: 1.5;
  stroke-dasharray: "2 2";
  marker-end: "url(#arrowhead)";
  stroke: black;
}

.messageLine1 {
  stroke-width: 1.5;
  stroke-dasharray: "2 2";
  stroke: black;
}

#arrowhead {
  fill: black;
}

.messageText {
  fill: black;
  stroke: none;
  font-family: Consolas, Monaco, monospace;
  font-size: 16px;
}

.labelBox {
  stroke: #CCCCFF;
  fill: #ECECFF;
}

.labelText {
  fill: black;
  stroke: none;
  font-family: Consolas, Monaco, monospace;
}

.loopText {
  fill: black;
  stroke: none;
  font-family: Consolas, Monaco, monospace;
}

.loopLine {
  stroke-width: 2;
  stroke-dasharray: "2 2";
  marker-end: "url(#arrowhead)";
  stroke: #CCCCFF;
}

.note {
  stroke: #decc93;
  stroke: #CCCCFF;
  fill: #fff5ad;
}

.noteText {
  fill: black;
  stroke: none;
  font-family: Consolas, Monaco, monospace;
  font-size: 16px;
}