/*
  This trick for listening to changes by class was taken from
  https://davidwalsh.name/detect-node-insertion.
*/
@keyframes mermaidDiagramCodeInserted {
	from { opacity: 0.99; }
	to { opacity: 1; }
}

/* Detect new diagrams on github.com */
[lang="mermaid"] {
  animation-duration: 0.001s;
  animation-name: mermaidDiagramCodeInserted;
}

/* Detect new diagrams on dev.azure.com */
div.markdown-content > pre.hljs {
	animation-duration: 0.001s;
	animation-name: mermaidDiagramCodeInserted;
}
